/* reset margin */
body {
    background-color: #939693;
    margin: 0;
    padding: 0;
    padding-bottom: 56px;
}

/*add padding to main */
main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Calibri", sans-serif;
    color: #81D8D0;
    background-color: #939693;
    padding: 16px;
    grid-gap: 20px;
}

/* heading is gonna be comic-sans*/
h1 {
    font-family: "Comic Sans MS", cursive;
    color: #33353d;
}

h2 {
    font-family: "Comic Sans MS", cursive;
}

h1, h2, ol{
    grid-column: 1 / -1;
}

div {
    background-color: #ffffff;
    gap: 20px;
    padding: 16px;
    text-align: center;
    border-radius: 5px;
}

/* footer padding*/
footer {
    background-color: #6d6e6d;
    color: #81D8D0;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Comic Sans MS", cursive;
}

ol {
    grid-template-columns: 10px 1fr 10px;
    background-color: #ffffff;
    color: #6d6e6d;
    padding: 20px;
    padding-left: 40px;
    padding-right: 10px;
    border-radius: 5px;
}

li {
    margin-bottom: 10px;
}
/* fixed height for taco pic*/
img {
    height: 200px;
    align-items: center;
    justify-content: center;
}

/* black bottom border for nav*/
nav {
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    background-color: #81D8D0;

    border-bottom: 3px solid #6d6e6d;
    padding: 16px;
}

/* remove underlines from a tags*/
a {
    color: #f8b996;
    text-decoration: none;
}

a:visited {
    color: #b76d68;
    text-decoration: none !important;
}

.navbar {
    color: #ffffff !important;
    text-decoration: none;
}

.rating {
    background-color: #b3b5b3;
    color: #91f2e9;
    padding: 2px;
}


/*table looks atrocious*/
table {
    background-color: #ffffff;
    color: #2d2e2e;
    border-radius: 5px;
}

td, th{
    border: 1px solid #5a5c5a;
    padding: 8px;
}

th {
    font-family: "Comic Sans MS", cursive;
    font-size: 22px;
}

td {
    text-align: center;
}
